.App {
  text-align: center;
}


body {
 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 text-align: center;


}

h1 {

  margin: 0;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px black;
}

.currency-row {

  
} 


.input {
border: 3px solid rgb(52, 49, 49);
border-radius: .5em;
padding: .45em;
width: 10em;
box-shadow: 2px 2px 2px rgb(136, 129, 129);
font-weight: bolder;
text-shadow: .5px .5px .5px rgb(136, 129, 129)


}

.input:hover {
  transform: scale(1.25);
  transition: all 0.35s ease;
}

select {

  margin-left: .6rem;
  border: 3px solid rgb(52, 49, 49);
border-radius: .5em;
padding: .45em;
width: 5.5em;
box-shadow: 2px 2px 2px rgb(136, 129, 129);
font-weight: bolder;
text-shadow: .5px .5px .5px rgb(136, 129, 129)
}


select:hover {
  transform: scale(1.25);
  transition: all 0.35s ease;

}

.equals {
font-weight: bold;
font-size: 3rem;
text-shadow: 1px 1px 1px rgb(136, 129, 129)

}